<div class="hero-unit">
	<h1>Overvloed Verbinder</h1>
	<p>Beetje uitleg enzo</p>
</div>

<div class="row">
	<div class="span4">
		<% @questions.each do |question| %>
		    <%= link_to question.query, question %><br>
		    <%= link_to 'Edit', edit_question_path(question) %> | 
		    <%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %>
				<br>
		<% end %>
		<%= link_to 'New Question', new_question_path %>
	</div>
	<div class="span4">
	</div>
	<div class="span4">
	</div>
</div>

