- content_for :header do
  = render :partial => "shared/site_admin_sub_nav" 

%table.admin-table
  %thead
    %tr
      %th Afzender
      %th Bericht
      %th
  %tbody
    - @messages.each do |message|
      %tr
        %td= message.sender
        %td= message.body
        %td= link_to 'Verwijderen', message, confirm: 'Weet je zeker dat je dit bericht wilt verwijderen?', method: :delete