<h2>Overzicht van alle feedback berichten</h2>
<p>Terugkoppeling en ideëen die door de gebruikers zijn ingezonden via het feedback formulier</p>
<table class="admin-table table table-bordered table-striped">
  <tr>
    <th>Bericht</th>
    <th>Afzender</th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.body %></td>
    <td><%= message.sender %></td>
    <td><%= link_to 'Verwijderen', message, confirm: 'Weet je zeker dat je dit bericht wilt verwijderen?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to "Terug", initiatives_path %>