<div class="info">
	<p>In je profiel kun je aangeven wat je in huis hebt. Zo kunnen wij op basis van <%= link_to "je beschikbaarheid", profile_available_dates_path(current_user.profile) %> het best onze projecten inplannen.</p>
	<p>Onder vind je een lijst van alle bijdragen die je in de loop van de tijd hebt geleverd. Zo kun je zien wanneer je wat hebt toegezegd.</p>
</div>
