- content_for :header do
  %h1 Mijn Profiel
 
- content_for :sidebar do
  = render :partial => "sidebar"

= render 'form'
- if @user_role
  = link_to 'Meld mij af bij deze Bucket Line', initiative_user_role_path(@initiative, @user_role), :method => :delete, :confirm => "Weet je zeker dat je jezelf wilt terugtrekken uit deze Bucket Line?"