<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Expertise:</b>
  <%= @profile.expertise %>
</p>

<%= link_to 'Mijn profiel bewerken', edit_profile_path(@profile) %>
