<div class="row">
	<div class="span12">
		<h2>De Waardeverbinder</h2>
	</div>
</div>
<hr>
<div class="row">
	<div class="span4">
		<h3>Wat is de waardeverbinder?</h3>
		<p>De waardeverbinder is een toepassing om snel en goedkoop dingen voor elkaar te krijgen. We hebben allemaal best veel spullen over, of toegang tot hulp die we zelf niet gebruiken. Als we al deze overvloed bij elkaar brengen, dan kunnen er prachtige dingen ontstaan. Want wat voor de één troep is, kan voor een ander van waarde zijn. De waardeverbinder biedt structuur om al deze overvloed in goede banen te leiden, en zo gezamenlijk iets gaafs neer te zetten.</p>
	</div>
	<div class="span4">
		<h3>Waarom is dit nodig?</h3>
		<p>Deze overvloed noemen we sociale overwaarde. Door onze sociale overwaarde nieuw leven in te blazen, kunnen we grote dingen realiseren, en dragen we bij aan een afname van onze wegwerpcultuur. Want waarom zouden we grof betalen voor iets wat je met een beetje organisatie ook zonder geld kunt neerzetten?</p> 
		<p>Het idee voor de waardeverbinder is ontstaan naar aanleiding van het <a href="http://www.huisvanovervloed.nl" target="_blank">Huis van Overvloed</a>. In Nijmegen, aan de overkant van de Waal, is het initiatief ontstaan om een huis te bouwen. Maar dan zonder ook maar een cent uit te geven, door gebruik te maken van <a href="http://www.socialeoverwaarde.nl/" target="_blank">sociale overwaarde</a>.</p> 
	</div>
	<div class="span4">
		<h3>Hoe werkt het?</h3>
		<p>De waardeverbinder is een product van het jonge webbedrijf <a href="http://www.dreamyourweb.nl" target="_blank">dreamyourweb</a>. Het is bedoeld voor bedrijven, gemeentes, verenigingen en stichtingen zoals Bucket Line, om ze te helpen om dingen voor elkaar te krijgen. Het is onze droom om elke organisatie in staat te stellen om een op maat gemaakte waardeverbinder af te nemen, waarmee ze doeltreffend, goedkoop en verantwoord hun eigen initiatieven en goede ideeën kunnen realiseren.</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="span12">
		<p style="font-style:italic;">Voor vragen, opmerkingen of meer informatie over de waardeverbinder, neem contact op met thijs@dreamyourweb.nl</p>
	</div>
</div>

<%= link_to "Ga terug naar Bucket Line", root_path %>