.row
  .twelve.columns
    %h2 Nieuwe Bucket Line
.row
  .six.columns
    = render 'form'
    = link_to 'Terug', initiatives_path
  .six.columns
    .panel
      %h5 Foutje, bedankt!
      %p Maak je geen zorgen als je een foutje hebt gemaakt. Je kunt later alles nog aanpassen.
