- content_for :header do
  %h1 Nieuwe Bucket line

.row
  .six.columns
    = render 'form'
    = link_to 'Terug', admin_initiatives_path
  .six.columns.hide-for-small
    .panel
      %h5 Foutje, bedankt!
      %p Maak je geen zorgen als je een foutje hebt gemaakt. Je kunt later alles nog aanpassen.
