%ul.nav-bar.vertical
  %li{class: (request.path == "/admin/initiatives") ? "active" : ""}
    = link_to "Alle bucket lines", "/admin/initiatives"
  %li{class: (request.path == admin_path) ? "active" : ""}
    = link_to "Feedback berichten", admin_path
  %li{class: (request.path == '/admin/profiles') ? "active" : ""}
    = link_to "Alle gebruikers", '/admin/profiles'