<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hallo,</p>

    <p>U heeft een uitnodiging gekregen voor de Bucket Line van <%= @inviter %>. Als u nog niet weet wat Bucket Line is, kijk dan eerst eens op <a href="http://www.bucketline.nl" target="_blank">de website</a>.</p>

    <p><%= link_to 'Uitnodiging accepteren', @invitation_url %></p>

    <p>Met vriendelijke groet,<br>
    Bucket Line</p>
  </body>
</html>