%ul.nav-bar.vertical
  %li.active
    = link_to "Mijn profiel", profile_url(current_user.profile, :subdomain => false)
  %li
    = link_to "Mijn bijdrages", profile_url(current_user.profile, :subdomain => false)
  %li
    = link_to "Instellingen", profile_url(current_user.profile, :subdomain => false)