%ul.nav-bar.vertical
  %li.active
    %a{:href => "#"} Nav Item 1
  %li.has-flyout
    %a{:href => "#"} Nav Item 2
    %a.flyout-toggle{:href => "#"}
    %ul.flyout
      %li
        %a{:href => "#"} Sub Nav Item 1
      %li
        %a{:href => "#"} Sub Nav Item 2
      %li
        %a{:href => "#"} Sub Nav 3
      %li
        %a{:href => "#"} Sub Nav 4
      %li
        %a{:href => "#"} Sub Nav Item 5
  %li
    %a{:href => "#"} Nav Item 4
