.interior-header.profile
  .row
    .large-4.columns
      .title-text.white-text.hide-for-small
        Mijn profiel
    
    .large-8.columns
      %ul.inline-list
        %li
          = link_to "Mijn profiel", edit_profile_url(current_user.profile, :subdomain => false), class: is_current_page?(edit_profile_url(current_user.profile, :subdomain => false))
        %li
          = link_to "Mijn bijdragen", profile_contribution_url(current_user.profile, :subdomain => false), class: is_current_page?(profile_contribution_url(current_user.profile, :subdomain => false))
        %li
          = link_to "Instellingen", edit_user_registration_url(:subdomain => false), class: is_current_page?(edit_user_registration_url(:subdomain => false))

      / - if current_user.initiative_admin(@initiative)
      /   %ul.inline-list.admin
      /     %li
      /       = link_to "Bucket Line instellingen", "/initiative/edit", class: (request.path == "/initiative/edit") ? "active" : ""
      /     %li
      /       = link_to "Deelnemers beheer", "/profiles", class: (request.path == "/profiles") ? "active" : ""
      /     %li
      /       = link_to "Alle beschikbaarheid", "/all_available_dates", class: (request.path == "/all_available_dates") ? "active" : ""
      /     %li
      /       = link_to "Alle bijdragen", "/links", class: (request.path == "/links") ? "active" : ""