<% content_for :header do %>
  <h1>Disclaimer</h1>
<% end %>

<div class="row">
	<p>Het gebruik van deze website is geheel op eigen risico en aan het gebruik kunnen geen rechten worden ontleend. Bucket Line en/of dreamyourweb kunnen niet aansprakelijk worden gesteld voor enige schade die direct of indirect voortvloeit uit het gebruik van deze website. Dreamyourweb en Bucket Line behouden zich tevens het recht voor om de inhoud, ontwerp en/of functionaliteit van deze site zonder aankondiging te wijzigen, of lidmaatschap te ontzeggen.</p>
</div>
