<% if current_user && current_user.sign_in_count == 1 %>
	<div class="alert">
	<a class="close" data-dismiss="alert">×</a>
		Welkom bij de sociale overwaarde verbinder! We raden je aan om eerst <%= link_to "je profiel", profile_path(current_user.profile) %> in te stellen als je dat nog niet gedaan hebt.
	</div>
<% end %>
<div class="hero-unit">
	<h1>Huis van Overvloed</h1>
	<p>We hebben allemaal best veel spullen, ideeën en toegang tot hulp. Meer dan we zelf nodig hebben en vaak meer dan we gebruiken. Dit noemen we sociale overwaarde. Met het Huis van Overvloed verbinden we al deze spullen, ideeën en vormen van hulp. We bouwen er in Nijmegen letterlijk een huis van. Dit huis wordt een werk- en ontmoetingsplek voor iedereen die werkt aan duurzaamheid of sociale innovatie, of dat nu bedrijven, overheden, studenten of andere mensen zijn die willen bijdragen. Met de overwaardeverbinder proberen we al die spullen en hulp op het juiste moment op de juiste plek te krijgen. Help je mee?</p>
	<%= link_to "Neem een kijkje in onze agenda", projects_path, :class => "btn btn-primary btn-large pull-right" %>
</div>

