<% if current_user && current_user.sign_in_count == 1 %>
	<div class="alert">
	<a class="close" data-dismiss="alert">×</a>
		Welkom bij de sociale overwaarde verbinder! We raden je aan om eerst <%= link_to "je profiel", profile_path(current_user.profile) %> in te stellen als je dat nog niet gedaan hebt.
	</div>
<% end %>
<div class="hero-unit">
	<h1>Huis van Overvloed</h1>
	<p>Welkom bij de Waardeverbinder van het Huis van Overvloed. Met deze toepassing kunnen we jouw hulp verbinden aan de bouw van het huis. Dat doen we per project. Nadat je jezelf hebt aangemeld kun je 'gereedschap' uitlenen, 'materialen' geven of je 'handjes' laten wapperen.</p>
	<p>Wij plannen onze projecten op basis van je beschikbaarheid en waar je goed in bent. Dit kun je via deze toepassing allemaal doorgeven. <% if !current_user %>Je kunt jezelf <%= link_to "hier registreren", new_user_registration_path %>.<% end %> We gaan uiteraard zorgvuldig om met je gegevens en hopen je snel te zien op het bouwterrein van het Huis van Overvloed!</p> 
	<%= link_to "Neem een kijkje in onze agenda", projects_path, :class => "btn btn-primary btn-large pull-right" %>
</div>

