%header#homepage
  .row
    .twelve.columns
      %h1 Bucket Line
      %h4.subheader Bucket Line brengt mensen samen om in een tijdelijke en persoonlijke noodsituatie, een steun te zijn door kleine klussen te doen.
      = link_to 'Maak je eigen Bucket Line', new_initiative_path, class: "large button"

%section#homepage-waardeverbinder
  .row
    .six.columns
      %h4 Bucket Line
      %p Een Bucket Line bestaat uit je eigen vertrouwde netwerk: de buurt, familie, het bedrijf, de school, de vereniging. Als bij jou of bij een ander in jouw Bucket Line netwerk een tijdelijke noodsituatie ontstaat, zoals een sterfgeval of ernstige ziekte in een gezin, zorgt de Bucket Line voor een gezamenlijke aanpak van kleine klussen die gedaan moeten worden, zoals boodschappen doen, poetsen, koken, of licht administratief werk.
    .six.columns
      %h4 De Bucket Line waardeverbinder
      %p Met deze website kun je je eigen Bucket Line opstellen. Je kunt het zien als een interactieve agenda. Op basis van de beschikbaarheid van de leden van de Bucket Line en wat er binnen de Bucket Line aanwezig is, worden door een hulpbehoevende kleine klussen ingepland. Denk bijvoorbeeld aan koken, of naar de apotheek rijden. In een agenda kunnen de leden alle klussen bekijken, en meteen hun hulp aanbieden.
      %p Op dit punt zijn we de Bucket Line waardeverbinder nog aan het testen. Neem contact op het Bucket Line (info@bucketline.nl) als je wilt helpen met testen.