%div
  %h3 Gebruikersvoorwaarden en privacy
  %h4 Algemeen
  %p Bucketline is bedoeld om een gezamenlijk initiatief te realiseren, op basis van vrijwillige bijdragen vanuit een groep mensen. Initiatieven in Bucketline dienen geen directe commerciële doeleinden na te streven. Aangemelde initiatieven zijn openbaar en voor iedereen vrij toegankelijk om aan bij te dragen.
  %p Dreamyourweb behoudt zich het recht voor om de inhoud, ontwerp en/of functionaliteit van Bucketline zonder aankondiging te wijzigen, of door haar moverende redenen lidmaatschap te ontzeggen.
  %p Het gebruik van Bucketline is geheel op eigen risico, en aan het gebruik kunnen geen rechten worden ontleend. Dreamyourweb en partners kunnen niet aansprakelijk worden gesteld voor enige schade die direct of indirect voortvloeit uit het gebruik van deze website.
  %h4 Privacy
  %p Voor het realiseren van een initiatief is het voor beheerders (gebruikers met de beheersrechten van een initiatief) soms handig als er direct contact kan worden opgenomen met de bijdragers die ingeschreven zijn bij dit initiatief. Daarom wordt, als je je aanmeld bij een initiatief, je emailadres en overige gegevens die je in je profiel invult ook zichtbaar voor de beheerders van dat initiatief. Het is voor de beheerders niet toegestaan om deze gegevens voor andere doeleinden te gebruiken dan voor de realisatie van het initiatief en de communicatie hieromtrent.
  %p In je profiel kun je tevens aangeven welke mails vanuit Bucketline je wenst te onvangen, en of je naam publiekelijk getoond mag worden als bijdrager nadat je een bijdrage hebt gedaan.
  %h4 Cookies
  %p We gebruiken Google Analytics om het gebruik van onze website te analyseren, zodat we functionaliteiten daarop kunnen aanpassen. Tevens gebruiken we cookies van Facebook en LinkedIn om social media integratie met onze website mogelijk te maken.
