<h1>Nieuwe uitnodiging</h1>
<%= form_for(@invitation) do |f| %>
  <div class="field">
    <p>Ontvanger:</p>
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Versturen" %>
  </div>
<% end %>