<div class="row">
	<%= link_to projects_info_path, :class => "fancybox" do %>
		<i class="icon-question-sign pull-right"></i>
	<% end %>
</div>
<%= raw(event_calendar) %>
<div class="row">
	<div class="span12">
		<% if current_user && current_user.admin %>
			<%= link_to 'Plaats nieuw project', :controller => :projects, :action => :new %>
		<% end %>
	</div>
</div>
