- content_for :header do
  %h1 Kalender
  %h4.subheader Kalender voor klussen op een specifieke datum
  - if current_user.initiative_admin(@initiative)
    = link_to 'Nieuwe Klus', new_project_path, :class => "large button"

- content_for :sidebar do
  = render :partial => "shared/initiative_side_menu"

= raw(event_calendar)
/ = calendar_for(Date.today.year, Date.today.month, first_day_of_week: 1) do |day|
/   - if @events_hash[day.day]
/     - @events_hash[day.day].query
/   - else
/     - day.day
