<div class="row">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li><%= link_to "Bekijk overzicht", dashboard_path %></li>
			<li class="active"><%= link_to "Bekijk over tijd", root_path %></li>
		</ul>
	</div>
</div>
<div class="row">
	<% if user_signed_in? %>
		<%= link_to 'Plaats nieuw project', :controller => :projects, :action => :new %>
	<% end %>
</div>
<%= raw(event_calendar) %>
