<div class="row">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li class="active"><%= link_to "Bekijk over tijd", root_path %></li>
			<li><%= link_to "Bekijk overzicht", dashboard_path %></li>
		</ul>
	</div>
</div>
<%= raw(event_calendar) %>
<div class="row">
	<div class="span12">
		<% if current_user && current_user.admin %>
			<%= link_to 'Plaats nieuw project', :controller => :projects, :action => :new %>
		<% end %>
	</div>
</div>
