- content_for :header do
  %h1 #{@initiative.name}
  %h4.subheader Kalender
 
- content_for :sidebar do
  = render :partial => "shared/initiative_side_menu"

- if current_user.initiative_admin(@initiative)
  = link_to 'Plaats nieuwe klus', :controller => :projects, :action => :new
= raw(event_calendar)
/ = calendar_for(Date.today.year, Date.today.month, first_day_of_week: 1) do |day|
/   - if @events_hash[day.day]
/     - @events_hash[day.day].query
/   - else
/     - day.day
