<div class="info">
	<p>In de projectkalender staan alle projecten die op stapel staan. Klik op een project om te zien wat er nog nodig is.</p>
	<% if !user_signed_in? %>
		<p>Om bij te dragen moet je <%= link_to "jezelf eerst aanmelden", new_user_registration_path %>, zodat we alles in goede banen kunnen leiden. Dit duurt ongeveer dertig seconden.</p>
	<% else %>
		<p>Je kunt je aanmelden om een bijdrage te leveren door het aantal in te vullen en te klikken op "Dit wil ik bijdragen!"</p>
		<p>In <%= link_to "je profiel", profile_path(current_user.profile) %> vind je een overzicht van al je bijdragen.</p>
	<% end %>
</div>
