<div class="info">
	<p>In de projectkalender staan alle projecten die op stapel staan. Klik op een project om te zien wat er nog nodig is.</p>
	<p>Al onze projecten en benodigdheden zijn opgedeeld in dagdelen. Als je bijdraagt, dan houdt dit in dat je bijdrage deze dagdelen beschikbaar is. De ochtend loopt van 9:00-13:00; middag van 13:00-17:00, avond van 18:00-22:00 en de nacht van 22:00-laat.</p>
	<% if !user_signed_in? %>
		<p>Om bij te dragen moet je <%= link_to "jezelf eerst registreren", new_user_registration_path %>, zodat we alles in goede banen kunnen leiden. Dit duurt ongeveer dertig seconden.</p>
		<p>Als je aan een project hebt bijgedragen, komt er in de kalender een cadeautje bij te staan. Zo kun je snel zien bij welke projecten je betrokken bent. Als een project al is voltooid, dan komt er een vinkje bij te staan. Je kunt dan niet meer bijdragen aan dit project.</p>
	<% else %>
		<p>Je kunt je aanmelden om een bijdrage te leveren door het aantal in te vullen en te klikken op "Dit wil ik bijdragen!"</p>
		<p>In <%= link_to "je profiel", profile_path(current_user.profile) %> vind je een overzicht van al je bijdragen.</p>
		<p>Als je aan een project hebt bijgedragen krijgt de tekst een andere kleur. Zo kun je snel zien bij welke projecten je betrokken bent.</p>
	<% end %>
</div>
