<div class="info">
	<p>In de kalender staan alle klussen die op stapel staan. Klik op een klus om te zien wat er nog nodig is.</p>
	<p>Je kunt je aanmelden om een bijdrage te leveren door het aantal in te vullen en te klikken op "Dit wil ik bijdragen!"</p>
	<p>In <%= link_to "je profiel", profile_path(current_user.profile) %> vind je een overzicht van al je bijdragen.</p>
	<p>Als je aan een klus hebt bijgedragen komt er een cadeautje bij te staan. Zo kun je snel zien bij welke klussen je betrokken bent. Als een klus al is gedaan, dan komt er een vinkje bij te staan. Je kunt dan niet meer bijdragen aan deze klus.</p>
</div>
