<div class="info">
	<p>In de projectkalender staan alle projecten die op stapel staan. Klik op een project om te zien wat er nog nodig is. Je kunt je aanmelden om een bijdrage te leveren door het aantal in te vullen en te klikken op "Dit wil ik bijdragen!"</p>
	<p>In je profiel vind je een overzicht van al je bijdragen.</p>
</div>
