<% content_for :header do %>
  <h1>Kalender</h1>
  <h4 class="subheader">Nieuwe klus</h4>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "shared/initiative_side_menu" %>
<% end %>

<%= render 'form' %>