<div class="row">
	<div class="span12">
		<% if current_user && current_user.admin %>
			<%= link_to 'Plaats nieuw project', :controller => :projects, :action => :new %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h2>Handjes</h2>
		<%= render :partial => "item", :collection => @help %>
	</div>
	<div class="span4">
		<h2>Gereedschap</h2>
		<%= render :partial => "item", :collection => @tools %>
	</div>
	<div class="span4">
		<h2>Materiaal</h2>
		<%= render :partial => "item", :collection => @materials %>
	</div>
</div>

