<p><%= @question.query %></p>

<h2>Benodigdheden voor deze vraag</h2>

<div>
	<ul class="unstyled">
	<% @items.each do |item| %>
		<li>
			<%= item.provided %> 
			<%= item.description %>
		</li>
	<% end %>
	</ul>
</div>

<% if user_signed_in? %>
	<%= link_to 'Vraag of items bewerken', edit_question_path(@question) + "?type=" + @question.type %>
<% end %>
