<div class="info">
	<p>Op deze pagina vind je het overzicht van alles wat we nog nodig hebben. Zo kun je meteen zien of er nog iets is wat je over hebt.</p>
	<p>Al onze benodigdheden zijn ingedeeld in drie categoriën: handjes, gereedschappen en materialen. Onder handjes staat alle hulp die we nodig hebben van mensen. Gereedschappen zijn alle gereedschappen die we willen lenen. Dat kan uiteenlopen van graafmachines tot steeksleutels. Materialen zijn alle spullen die we nodig hebben voor de bouw of inrichting, zoals hout, tegels of kasten.</p>
	<p>Bij alle benodigdheden wordt aangegeven welke dagdelen ze nodig zijn. Als je een benodigdheid bijdraagt, dan houdt dit in dat je bijdrage al deze dagdelen beschikbaar is. De ochtend loopt van 9:00-13:00; middag van 13:00-17:00, avond van 18:00-22:00 en de nacht van 22:00-laat.</p>
	<% if user_signed_in? %>
		<p>Om iets bij te dragen vul je een aantal in en klik je op "Dit wil ik bijdragen!" In <%= link_to "je profiel", profile_path(current_user.profile) %> vind je een overzicht van alle bijdragen die je hebt geleverd.</p>
		<p>Als je aan een benodigdheid hebt bijgedragen, krijgt deze een andere kleur. Zo kun je snel zien wat je al hebt toegezegd. Als toch blijkt dat je je bijdrage niet kunt nakomen, dan kun je deze in je profiel weer intrekken.</p>
	<% else %>
		<p>Om bij te dragen moet je <%= link_to "jezelf eerst registreren", new_user_registration_path %>, zodat we alles in goede banen kunnen leiden. Dit duurt ongeveer dertig seconden.</p>
	<% end %> 
</div>
