<div class="info">
	<p>Op deze pagina vind je het overzicht van alles wat we nog nodig hebben. Zo kun je meteen zien of er nog iets is wat je over hebt.</p>
	<p>Om iets bij te dragen klik je op "Dit wil ik bijdragen!" In je profiel vind je een overzicht van alle bijdragen die je hebt gedaan.</p> 
</div>
