<div class="info">
	<p>Op deze pagina vind je het overzicht van alle benodigdheden die niet onder een specifiek project vallen, maar die we wel goed kunnen gebruiken. Een soort verlanglijstje dus.</p>
	<p>Ons verlanglijstje is ingedeeld in drie categoriën: handjes, gereedschappen en materialen. Onder handjes staat alle expertise die we nog zoeken. Gereedschappen zijn alle gereedschappen die we nog graag willen lenen. Materialen zijn alle spullen die we nodig hebben voor de bouw of inrichting, zoals hout, tegels of kasten.</p>
	<% if user_signed_in? %>
		<p>Om iets bij te dragen vul je een aantal in en klik je op "Dit wil ik bijdragen!" In <%= link_to "je profiel", profile_path(current_user.profile) %> vind je een overzicht van alle bijdragen die je hebt geleverd.</p>
		<p>Als je aan een benodigdheid hebt bijgedragen, komt er een cadeautje bij te staan. Zo kun je snel zien wat je al hebt toegezegd. Als toch blijkt dat je je bijdrage niet kunt nakomen, dan kun je deze in je profiel weer intrekken.</p>
	<% else %>
		<p>Om bij te dragen moet je <%= link_to "jezelf eerst registreren", new_user_registration_path %>, zodat we alles in goede banen kunnen leiden. Dit duurt ongeveer dertig seconden.</p>
	<% end %> 
</div>
