- content_for :header do
  .interior-header
    .row
      .large-8.columns
        .title-text.white-text.hide-for-small
          Nieuwe preventieve Bucket Line

%p We geven mensen, bijvoorbeeld buurtverenigingen, ook de mogelijkheid een preventieve Bucket Line op te zetten. Wanneer er een persoonlijke noodsituatie zich voordoet kun je dan heel makkelijk vanuit de Preventieve Bucket Line een Bucket Line aanmaken met de verzamelde mensen erin!

= render :partial => "form_unregistered" 
