- content_for :header do
  %h1 #{@initiative.name}
  %h4.subheader Laat de projectleiders weten wanneer je beschikbaar bent
 
- content_for :sidebar do
  = render :partial => "shared/initiative_side_menu.html"
  
= raw(availability_event_calendar)
