- content_for :header do
  = render :partial => "shared/sub_nav" 
 
- content_for :sidebar do
  = render :partial => "shared/initiative_side_menu.html"
  
.row
  .twelve.columns
    - if @available_dates.count == 0
      %p.instruction Je hebt nog geen beschikbaarheid doorgegeven. Klik op een getalletje in de kalender om voor die dag je beschikbaarheid door te geven, zodat de beheerders gerichter klussen kunnen plaatsen.

= raw(availability_event_calendar)
