<div class="info">
	<p>In deze kalender kun je je beschikbaarheid doorgeven. Zo weten wij wanneer we projecten kunnen plannen die specifieke expertise of spullen vereisen. Dit kun je aangeven in je profiel.</p>
	<p>Klik op het getal van een datum om door te geven dat je dan beschikbaar bent. Je kunt je beschikbaarheid aanpassen of intrekken door op een blauw veld te klikken.</p> 
</div>
