@import "bootstrap";

.comments-toggle {
	text-align:center; 
	background-color:#F0F0F0;
	border-radius: 0 0 4px 4px;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.well {
	margin-bottom:0px;
	border-radius: 4px 4px 0 0;
}

.comments{
	border: 1px solid rgba(0, 0, 0, 0.05);	
}

blockquote {
	margin-top:10px;
	margin-bottom:10px;
}
