@import "bootstrap";

.comments-toggle {
	text-align:center; 
	background-color:#E5E5E5;
	border-radius: 0 0 4px 4px;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.hero-unit {
	margin-top:20px;
	/*background-image:url("HvO.jpg");
	background-size: 105%;
	background-position:bottom; */
	border: 1px solid rgba(0, 0, 0, 0.05);
	p {
		font-size:16px;
	}	
}

.well {
	margin-bottom:0px;
	margin-top:20px;
	border-radius: 4px 4px 0 0;
}

.comments{
	border: 1px solid rgba(0, 0, 0, 0.05);	
}

blockquote {
	margin-top:10px;
	margin-bottom:10px;
}
