@import "bootstrap";

html, body{
	height:100%;
}

.container{
	min-height:80%;
}
dt {
	margin-top:10px;
}

.comments-toggle {
	text-align:center; 
	background-color:#E5E5E5;
	border-radius: 0 0 4px 4px;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.date-selector select {
	width:auto;
}

.hero-unit {
	margin-top:20px;
	/*background-image:url("HvO.jpg");
	background-size: 105%;
	background-position:bottom; */
	border: 1px solid rgba(0, 0, 0, 0.05);
	p {
		font-size:16px;
	}	
}

.well {
	margin-bottom:0px;
	margin-top:20px;
	/*border-radius: 4px 4px 0 0;*/
}

.comments{
	border: 1px solid rgba(0, 0, 0, 0.05);	
}

blockquote {
	margin-top:10px;
	margin-bottom:10px;
}

.smaller-font p {
	font-size:13px;
}

#footer {
	margin-top:20px;
	padding-top:20px;
	padding-bottom:20px;
	background-color:#F5F5F5;
	border: 1px solid rgba(0, 0, 0, 0.05);
	height:80px;
}

.highlight {
	background-color:#F5F5F5;
}

.amount-input {
	margin-top:10px;
	width:20px;
}

.item-form{
	margin-bottom:0;
	p {
		margin-bottom:0;
	}
}

.item-details {
	/*font-style:italic;*/
	padding-bottom:5px;
	font-size:11px;
}

.info {
	width:300px;
}

.admin-table {
	width:100%;
}

.providing {
	background-color:#fcf8e3;
	border-color:#fbeed5;
}

.gift-margin {
	margin-left:3px;
}

/*.providing-calendar {
	color:#ebceb5 !important;
}

.success-calendar {
	color:#00ff00 !important;
}*/

.ec-calendar-header thead tr {
	text-align:top !important;
	height:35px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans serif !important;
}

.ec-day-link {
	color:#0088cc !important;
	text-decoration:underline;
}

.help-icon {
	float:right;
	margin-right:-45px;
	margin-top:35px;
}

.alert .alert{
	border: 0px;
	margin:0px;
	padding:0px;
}
