html{
	height:100%;
}

body{
	background-image: url(background-clean.jpg);
	background-position: center 100px;
	background-repeat: no-repeat, repeat;
	min-height: 100%;
	position: relative;
	backgrond-color: #51bedb;

}
.container.main{
	padding-bottom: 160px;
}

body.home{
	background-image: url(background-top.jpg);
}

.navbar{
	margin-bottom: 0;
}

.navbar-inner{
	//padding-top: 50px;
}

.navbar .container{
	width: 940px;
	height: 110px;
}

dt {
	margin-top:10px;
}

.comments-toggle {
	text-align:center; 
	background-color:#E5E5E5;
	border-radius: 0 0 4px 4px;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.date-selector select {
	width:auto;
}

.hero-unit {
	margin-top:20px;
	/*background-image:url("HvO.jpg");
	background-size: 105%;
	background-position:bottom; */
	border: 1px solid rgba(0, 0, 0, 0.05);
	p {
		font-size:16px;
	}	
}

.well {
	margin-bottom:0px;
	margin-top:20px;
	/*border-radius: 4px 4px 0 0;*/
}

.comments{
	border: 1px solid rgba(0, 0, 0, 0.05);	
}

blockquote {
	margin-top:10px;
	margin-bottom:10px;
}

.smaller-font p {
	font-size:13px;
}

.highlight {
	background-color:#F5F5F5;
}

.amount-input {
	margin-top:10px;
	width:20px;
}

.item-form{
	margin-bottom:0;
	p {
		margin-bottom:0;
	}
}

.item-details {
	/*font-style:italic;*/
	padding-bottom:5px;
	font-size:11px;
}

.info {
	width:300px;
}

.admin-table {
	width:100%;
}

.providing {
	background-color:#fcf8e3;
	border-color:#fbeed5;
}

.gift-margin {
	margin-left:3px;
}

/*.providing-calendar {
	color:#ebceb5 !important;
}

.success-calendar {
	color:#00ff00 !important;
}*/

.ec-calendar-header thead tr {
	text-align:top !important;
	height:35px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans serif !important;
}

.ec-day-link {
	color:#0088cc !important;
	text-decoration:underline;
}

.help-icon {
	float:right;
	margin-right:-45px;
	margin-top:35px;
}

.alert .alert{
	border: 0px;
	margin:0px;
	padding:0px;
}

.feedback {
	position:absolute;
	left:0px;
	top:250px;
}

.btn-metal, .btn-metal:hover, .btn-metal:active{
	background: url(metal-button.png);
	$padding-top: 13px;
	$padding-left: 43px;
	width: 158px - $padding-left;
	height: 45px - $padding-top;
	padding-top: $padding-top;
	padding-left: $padding-left; 
	border: none;
	background-color: none;
}

.btn-metal:hover{
	background-position: 0px 45px;
}

.btn-metal:active{
	background-position: 0px 90px;
}

a.btn-metal, a.btn-metal:hover, a.btn-metal:visited, input.btn-metal, input.btn-metal:hover, input.btn-metal:visited{
	color: black;
	text-decoration: none;
	position: relative;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=1);
}

input.btn-metal, input.btn-metal:hover, input.btn-metal:visited{
	padding-top: 0;
	padding-left: 35px;
	width: 158px;
	height: 45px;
}

#gridSystem{
	margin-top: 40px;
}

.well{
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #f5f5f5;
}

.login {
	border-right:1px solid #e5e5e5;
}

.login-links {
	text-align:right;
	margin-right:80px;
}

.fb-login {
	margin-top:80px;
	text-align:center;
}
