table.ec-day-names{
	-webkit-border-radius: 4px 4px 0px 0px;
  	-moz-border-radius: 4px 4px 0px 0px;
  	border-radius: 4px 4px 0px 0px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.ec-rows{
	-webkit-border-radius: 0px 0px 4px 4px;
  	-moz-border-radius: 0px 0px 4px 4px;
  	border-radius: 0px 0px 4px 4px;
  	border: none !important;
  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.ec-calendar, .ec-body, .ec-day-bg:first-child{
	border: none !important;
}
