form.custom{
  .custom.dropdown
  {
    &.date{
      width: 25%; 
      float: left;
      margin-right: 10px;
    }
    &.time{
      width: 20%; 
      float: left;
      margin-right: 10px;
    }
  }
  .row.time, .row.date{

  }
}