.interior-header {

  position: relative;

  background-color: $backgroundMediumColor;
  height: 100%;

  .title-text {
    line-height: normal;
    letter-spacing: normal;
    padding-top: 60px;
    padding-bottom: 14px;
    // font-family: "Proxima", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0px;
    &.white-text{
      color: white;
    }
  }

  .inline-list {
    margin-top: 68px;
    float: right;
    display: block;
    font-weight: 400;

    li{
      margin: 0;
      a{
        color: white;
        padding: em-calc(5 10);
        &.active, &:hover {background-color: $primary-color}

      }
    }

    .f-dropdown li a{
      color: $body-font-color;
      &:hover{
        color: white;
      }
    }

  }

  &.profile{
    background-color: lighten($profile-color, 20%);
    .inline-list li{
      a.active, a:hover {background-color: $profile-color;}
    }
  }

}
