// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.justify {
	text-align:justify;
}

.right-align {
	text-align:right;
}

.calls-to-action {
	margin-top:15px;
	margin-bottom:15px;
}

#splash {
	height:400px;
	border: 1px solid #e5e5e5;
}

.what-is{
	font-size:16px;
	font-style:italic;
}

.arrow{
	background:url("arrow.png");
	background-size:100%;
	width:50px;
	height:50px;
	margin-left:-30px;
}
