// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row.features{
	margin-top: 130px;
	color: white;
	h3{
		font-size: 24px;
		margin-bottom: 10px;
	}
}

.row.uvp{
	margin-top: 120px;
	height: 200px;
	.span6{
		width: 500px !important;
	}
	color: white;
	h2{
		font-weight: normal;
		font-size: 50px;
		line-height: 55px;
		-webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
		-moz-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
		text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
	}
}

.justify {
	text-align:justify;
}

.right-align {
	text-align:right;
}

.calls-to-action {
	margin-top:15px;
	margin-bottom:15px;
}

#splash {
	height:400px;
	border: 1px solid #e5e5e5;
}

.what-is{
	font-size:16px;
	font-style:italic;
}

.arrow{
	background:url("arrow.png");
	background-size:100%;
	width:50px;
	height:50px;
	margin-left:-30px;
}
