.item-more-info p {
  font-size: 11px;
}

.item-more-info strong {
  font-size: 11px;
}

i.green { color: #00aa00; }
i.red { color: #aa0000; }

.label { line-height: 17px; }

.item form {
  margin: 0;
}

.item-info { clear: both; }
.item-icons { float: right; }

.label { float: right; }

input.amount-input {
 width: 50px;
 height: 2em;
 font-size:12px;
}

.item{
  @include panel;
  .label{
    font-size: 0.5em;
  }
}