.item-more-info p {
  font-size: 11px;
}

.item-more-info strong {
  font-size: 11px;
}

i.green { color: #00aa00; }
i.red { color: #aa0000; }

.label { line-height: 17px; }

.item form {
  margin: 0;
}

.item { 
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #5b4502; 
  border-top: 1px solid #5b4502; 
  background-color: #feffe0;
}
.item-info { clear: both; }
.item-icons { float: right; }

.item h3 { font-size: 17px; margin: 0 0 2px 0;}

.label { float: right; }

input.amount-input {
 /* width: 50px; */
}