.navbar .logo{
	background-image: url(waardeverbinder-logo.png);
	width: 400px;
	height: 55px;
	background-repeat: no-repeat;
	margin-top: 8px;
	margin-bottom: 6px;
	display: block;

	h1{
		padding-top: 10px;
		color: white;
	}
}

.nav{
	li.active a{
		background: url(background-clean.jpg);
		background-position: center top;
	}
}

.nav.nav-tabs{
	border: none;
}