h1,h2,h3,h4,h5,h6{
	font-family: OpenSansRegular;
  small{
    text-transform: uppercase;
    margin-bottom: 0.2em;
  }
}

h1{
  margin-bottom: 0.2em;
  color: white;
  font-weight: 500;
}

h1.subheader,h2.subheader,h3.subheader,h4.subheader,h5.subheader,h6.subheader{
	font-family: OpenSansLight;
	color: $secondary-color;
}

.alert{
	color: $alert-color;
}

body{
  font-family: OpenSansRegular;
}

p{
  font-family: OpenSansRegular;
}
