<p>Hallo,</p>

<p>Welkom bij Bucketline, wat gaaf dat je je hebt aangemeld! Je kunt je registratie bevestigen met de onderstande link.</p>

<p><%= link_to 'Bevestig mijn aanmelding', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Met vriendelijke groet,<br>
Bucketline</p>

