<p>Welkom <%= @resource.email %>!</p>

<p>Je kunt je aanmelding bevestigen door op de onderstaande link te klikken:</p>

<p><%= link_to 'Bevestig mijn aanmelding', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
