<p>Beste meebouwer,</p>

<p>Welkom bij de Waardeverbinder van het Huis van Overvloed. Wat gaaf dat je wilt meehelpen!</p>
<p>Met deze toepassing kunnen we jouw hulp verbinden aan de bouw van het huis. Dat doen we per project. Een project kan bijvoorbeeld zijn: 'dak maken',  'transport materiaal' of gezellig 'bbq-en'.</p>
<p>Het werkt als volgt:</p>
<ol>
	<li>Bevestig je registratie via de link onder aan deze mail.</li>
	<li>Maak op de waardeverbinder een profiel aan waar in je duidelijk aangeeft waarmee je kunt helpen.</li>
	<li>Geef je beschikbaarheid regelmatig aan onder 'Mijn Beschikbaarheid' (dit kun je later altijd weer aanpassen), dan kunnen wij projecten plannen op beschikbaarheid.</li>
	<li>Check de 'Project kalender' wat er de komende tijd te doen is. Je kunt per project aangeven of en hoe je wit bijdragen. Dat kan 'handjes' zijn, 'materiaal geven' of 'gereedschap lenen' zijn.</li>
	<li>Houd je mail in de gaten, nieuwe projecten krijg je ook per mail binnen.</li>
	<li>Je krijgt de dag voor je helpt bij een project een melding als herinnering.</li>
</ol>

<p><%= link_to 'Bevestig mijn aanmelding', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Tot ziens op het bouwterrein!</p>
<p>Met vriendelijke groet,</p>
<p>Yvonne en Juul<br>
Namens Team Huis van Overvloed</p>


