<p>Hallo <%= @resource.email %>!</p>

<p>Iemand heeft aangevraagd om je wachtwoord te resetten. Dit kan door op onderstaande link te klikken.</p>

<p><%= link_to 'Wijzig mijn wachtwoord', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Als je dit niet zelf hebt aangevraagd, kun je deze mail negeren.</p>
