<% flash.each do |key, value| %>
	<div class="row">
		<div class="twelve columns">
			<%= content_tag(:div, :class => "alert fade in alert-#{key}") do |bla| %>
		 		<%= value %>
		 		<% #<a class="close" data-dismiss="alert" href="#">×</a> %>
			<% end %>
		</div>
	</div>
<% end %>