<footer id="footer">
	<div class="container">
		<p>De sociale overwaarde verbinder is een cadeautje van <a href="http://www.dreamyourweb.nl" target="_blank">dreamyourweb</a> aan het <a href="http://www.huisvanovervloed.nl" target="_blank">Huis van Overvloed</a>. Voor vragen over de waardeverbinder zelf kun je een berichtje sturen naar thijs[apestaartje]dreamyourweb.nl. Feedback kunt u <%= link_to "hier achterlaten", feedback_path, :class => "fancybox" %>.</p>
	</div>
</footer>
