<footer id="footer">
	<div class="container">
		<p>De sociale overwaarde verbinder is een cadeautje van <a href="http://www.dreamyourweb.nl" target="_blank">dreamyourweb</a> aan het <a href="http://www.huisvanovervloed.nl" target="_blank">Huis van Overvloed</a>.</p><sub>Dreamyourweb is continu bezig om de sociale overwaarde verbinder te verbeteren.<br>Als je tegen een probleem of onhandigheidje aanloopt, dan horen wij het graag.<br>Je kunt dan een berichtje sturen naar thijs[apestaartje]dreamyourweb.nl</sub><br>
	</div>
</footer>
