<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="span9">
				<p>Bucket Line is een initiatief van etc. <% if current_user %>Voor feedback, <%= link_to "laat een bericht achter", feedback_path, :class => "fancybox" %><% end %>. Voor vragen over Bucket Line kun je een email sturen naar info@bucketline.nl.</p>
			</div>
			<!-- <a href="http://huisvanovervloed.nl" class="span3 footer-logo"></a> -->
		</div>
		<sub>Alle rechten voorbehouden. Icons provided by <%= link_to "glyphicons", "http://glyphicons.com/", :target => "_blank" %>.</sub>
	</div>
</footer>
