<footer id="footer">
	<div class="container">
		<p>De sociale overwaarde verbinder is een samenwerking tussen het <a href="http://www.huisvanovervloed.nl" target="_blank">Huis van Overvloed</a> en <a href="http://www.dreamyourweb.nl" target="_blank">dreamyourweb</a>.</p>
	</div>
</footer>
