<div class="row">
	<div class="span6"><h1>Bucketline logo</h1></div>
	<% if @initiative %>
		<div class="pull-right"><h2><%= @initiative.name %> - <%= @initiative.location %></h2></div>
	<% end %>
</div>
