<div class="pull-right">
	<% if user_signed_in? %>
		<%= link_to current_user.email, profile_path(current_user.profile) %>
		<%= link_to "Uitloggen", logout_path, :class => "btn" %>
    <% else %>
    	<ul class="nav">
    		<li><%= link_to "Inloggen", login_path %></li>
    		<li><%= link_to "Ik heb interesse", new_user_registration_path %></li>
    	</ul>
	<% end %>
</div>
