<div class="row">
	<div class="span6"><a href="/" class="logo"></a></div>
	<% if @initiative %>
		<div class="pull-right"><h2><%= @initiative.name %> - <%= @initiative.location %></h2></div>
	<% end %>
</div>
