<nav class="row">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li class=<%= get_active("calendar") %> ><%= link_to "Bekijk over tijd", root_path %></li>
			<li class=<%= get_active("dashboard") %> ><%= link_to "Bekijk overzicht", dashboard_path %></li>
		</ul>	
	</div>
</nav>
